<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th><th>Name</th><th>Email</th><th>Country</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let s of students">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
                <td>{{s.country}}</td>
                <td><a routerLink='/details/{{s.id}}'>
                    <button class="btn btn-success ">View</button>
                </a>
                <a routerLink='/details/{{s.id}}'>
                    <button class="btn btn-danger" (click)="ondelete(s.id)">Delete</button>
                </a>
                <a routerLink='/details/{{s.id}}'>
                    <button class="btn btn-primary" (click)="onUpdate(obj, s.id)">Update</button>
                </a></td>
            </tr>
        </tbody>
    </table>
</div>